[submodule "vendors"]
	path = vendors
	url = git://github.com/LearnBoost/mongoose.git
[submodule "vendor/mongoose"]
	path = vendor/mongoose
	url = git://github.com/LearnBoost/mongoose.git
[submodule "vendor/promise"]
	path = vendor/promise
	url = http://github.com/kriszyp/node-promise.git
[submodule "vendor/cookiejar"]
	path = vendor/cookiejar
	url = http://github.com/bmeck/node-cookiejar.git
